user-module/
survey-module/
participation-module/
statistic-module/
share-module/
web-app/

build/
target/
.gradle/
out/
bin/

.idea/
.vscode/
*.iml
*.ipr
*.iws
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
properties.env
docker/

*.md
docs/
images/
*.png
*.jpg
*.jpeg
*.gif

test-results/
coverage/
*test.properties
jacoco/

logs/
*.log
*.log.*

tmp/
temp/
*.tmp
*.temp

grafana/
prometheus/
ecs-task-definitions/
loadtest-package/

.git/
.gitignore
.gitattributes

.github/
.gitlab-ci.yml
.travis.yml
